/*------- PADRAO DO SITE --------*/
body
{background-color: rgba(223,23,124,1) ;
 background-size: 100% 100%;
 background-attachment: fixed;
 font-family:serif;
 margin: -2;
 width: 80%;
 height: 100%;
 min-height: inherit;
 padding: 0em 0em 0em;
 line-height:1.5em ;
 font-size: 20;
 max-width:100%;
 z-index:9999;
 overflow-x: hidden;
 text-align: center;
 }

@font-face{
    font-family:"ARCARTER";
     src: url(../../FONTS/ARCARTER.ttf) format("truetype");
}

.alignquemsomos{
    position: relative;
}

/*--------------- LOGO--------------*/
div.divlogo 
{height: 60px;  
 width: 102%;
 position:fixed;
 margin-top: -62px;
 background-color:rgb(223,23,124);
 background-image: url("../../FOTOS/logoll.jpg");
 background-repeat: no-repeat;
 background-size: 55px 100%;
 z-index:9999; 
 box-sizing: border-box;
 background-position: left;
 box-shadow: 0px 0px 10px 0px  black;}

/*-------------- MENU ------------*/


#navMenu ul
{float: left;
 left: 30%;
 bottom: 10px;
 position: relative;
 list-style: none;}

#navMenu ul li
{display: inline;
 letter-spacing:5px;
 position: relative;}

#navMenu ul li a
{padding: 10px;
 height: 35%;
 left: 0%;
 letter-spacing:2px;
 position: relative;
 display: inline-block;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 150%;
 font-family: fantasy;
 text-decoration: none;}

#navMenu ul li a:hover
{padding: 10px;
 height: 35%;
 left: 0%;
 letter-spacing:2px;
 position: relative;
 display: inline-block;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 150%;
 font-family: fantasy;
 text-decoration:underline;}



/*------------- BOTÃO --------------*/
#buttonEstilo 
{border: 0px;
 border-radius: 5px;
 background-color:rgb(223,100,124);
 }

#buttonEstilo:hover
{background: rgb(240,20,89);
 box-shadow: 0px 2px 5px 0px black;
 -webkit-transition: 0.5s ease;
 text-decoration:inherit;
 }

#buttonEstilo:active
{background: rgb(255,255,255);
 box-shadow: 0px 2px 5px 0px black;
 -webkit-transition: 0.2s ease;
border-radius: 5px;
 }

#buttonEstilo:focus
{background: rgb(255,255,255);
 box-shadow: 0px 2px 5px 0px black;
 -webkit-transition: 0.2s ease;
border-radius: 5px;
 }

/*===========================================================================================================================================*/
/*====================================================== CONTATO ============================================================================*/
/*========================================================= P3 ==============================================================================*/


/*-----------CONTATO-------*/
div.CONTATO
{background: rgba(240,248,255,1);
 margin-top:62px;
 z-index: 1;
 box-shadow: inset 0px 0px 6px black;
 position: relative;
 width: 132%;
 height: 580px;
 box-sizing: border-box;
 border-bottom: 3px solid rgba(34,211,35,1);
 border-top: 2px solid rgba(34,211,35,1);}

.divalignCONTATO{
    position: relative;
    margin: 0 auto;
    left: 40px;
    background-color: ;
    bottom: 250px;
    width: 55%;
    height: 25%;
}

.textoCONTATO
{   
    
    font-size: 50px;
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: none;
    position:relative; 
    -webkit-margin-after: 0em;
    top:50px;
    left:250px;
    transform:translate(-50%,-50%); 
    float: left;
    text-align: center;
    display:inline;
    font-family:"ARCARTER";
    line-height: 1px;
    height: 10px;
    
}

.tituloCONTATO
{   
    
    font-size: 100px;
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-family:cursive, sans-serif, serif;
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: underline;
    position:absolute; 
    margin: 0 auto;
    top: 10px;
    left:280px;
    transform:translate(-50%,-50%); 
    float: left;
    widows: inherit;
    text-align: center;
    white-space: nowrap;
    z-index: 9999;
    display:table-cell;
    vertical-align:0px;
    word-wrap: break-word;
    font-family:"ARCARTER";
    
}

.fotologo
{   
    background: aqua;
    background-image: url('../../FOTOS/logo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 250px;
    margin-left: 30px;
    margin-top: 60px;
    border-radius: 10px;
    position:relative;  
    z-index: 1;
    
}

.imagewhat{
    width: 50px;
    height: 50px;
    top: 10px;
    position: relative;
}
.liimage{
    display:block; 
    position: relative; 
    right:540px; 
    top: 80px;}




/*============================RODA PÉ====================*/

div.divrodape{
    background-color: white;
    background-size: 100% 110%;
    background-repeat: no-repeat;   
    margin-top:104px;
    z-index: 9999;
    right: 10px;
    box-shadow: inset 0px 0px 0px  black;
    position:absolute;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    
}

.divemail{
    position: absolute;
    width: 400px;
    height: 10px;
    margin: 0 auto;
    top:20px;
    left:100px;
     
}

#caixadeemail {
    background-color: rgb(240,20,89); 
    border: 3px solid rgb(223,100,124);  
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    

}

#caixadeemail:hover {
    background-color: rgb(255,255,255); 
    border: 3px solid rgb(240,20,89);  
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    

}

#caixadeemail:focus {
    background-color: rgb(223,100,124); 
    border: 3px solid rgb(240,20,89);  
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    

}

.botaoenviar {
    background-color: rgb(240,20,89); 
    border: 3px solid rgb(223,100,124);
    position: relative;
    top: 2px;
    left: 2px;
    color: azure;
    font-family:cursive;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    
}

.botaoenviar:hover {
    background-color: rgb(240,20,89); 
    border: 3px solid rgb(223,100,124);
    box-shadow: 0px 2px 5px 2px black;
    transition-duration: 0.2s;
    position: relative;
    top: 2px;
    font-family:cursive;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    
}

.botaoenviar:focus {
    background-color: rgb(240,20,89); 
    border: 3px solid rgb(223,100,124);
    box-shadow:  0px 0px 0px 0px black;
/*    transition-duration: 0.5s;*/
    position: relative;
    top: 2px;
    font-family:cursive;
    width: 100px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    outline: none;
    
}


/*========================== RESPONSIVE(max-399PX)===============================*/

@media screen and (max-width: 399px){
    
/*-------------- MENU ------------*/


#navMenu ul
{float: left;
 left: 5%;
 top: -10px;
 width: 80%;
 height: 50px;
 position: relative;
 overflow:auto; 
 list-style: none;}

#navMenu ul li
{display: inline;
 letter-spacing:5px;
 position: relative;}

#navMenu ul li a
{padding: -1px;
 height: 35%;
 left: 0%;
 letter-spacing:0px;
 position: relative;
 display: inline-block;
 top: 1px;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 90%;
 font-family: fantasy;
 text-decoration: none;}

#navMenu ul li a:hover
{padding: -1px;
 height: 35%;
 left: 0%;
 letter-spacing:0px;
 position: relative;
 display: inline-block;
 top: 1px;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 90%;
 font-family: fantasy;
 text-decoration: none;}
    
/*===========================================================================================================================================*/
/*======================================================= CONTATO ===========================================================================*/
/*==========================================================P3===============================================================================*/


/*-----------CONTATO-------*/
div.CONTATO
{background: rgba(240,248,255,1);
 margin-top:62px;
 z-index: 1;
 box-shadow: inset 0px 0px 6px black;
 position: relative;
 width: 132%;
 height: 580px;
 box-sizing: border-box;
 border-bottom: 3px solid rgba(34,211,35,1);
 border-top: 2px solid rgba(34,211,35,1);}

.divalignCONTATO{
    position: relative;
    margin: 0 auto;
    left: 40px;
    background-color: ;
    bottom: 250px;
    width: 55%;
    height: 25%;
}

.textoCONTATO
{   
    
    font-size: 35px;    
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: none;
    position:relative; 
    -webkit-margin-after: 0em;
    top:330px;
    left:10px;
    white-space: nowrap;
    transform:translate(-50%,-50%); 
    float: left;
    letter-spacing: 0px;
    text-align: center;
    display:inline;
    font-family:"ARCARTER";
    line-height: 1px;
    height: 10px;
    
}

.tituloCONTATO
{   
    
    font-size: 55px;
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-family:cursive, sans-serif, serif;
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: underline;
    position:absolute; 
    margin: 0 auto;
    top: 280px;
    left:50px;
    transform:translate(-50%,-50%); 
    float: left;
    widows: inherit;
    text-align: center;
    white-space: nowrap;
    z-index: 9999;
    display:table-cell;
    vertical-align:0px;
    word-wrap: break-word;
    font-family:"ARCARTER";
    
}

.fotologo
{   
    background: aqua;
    background-image: url('../../FOTOS/logo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 160px;
    margin-left: 90px;
    margin-top: 30px;
    border-radius: 10px;
    position:relative;  
    z-index: 1;
    
}

.imagewhat{
    width: 25px;
    height: 25px;
    top: 2px;
    position: relative;
}
    
.liimage{
    display:block; 
    position: relative; 
    right:10px; 
    top: 10px;}




/*============================RODA PÉ====================*/

div.divrodape{
    background-color: white;
    background-size: 100% 110%;
    background-repeat: no-repeat;   
    margin-top:224px;
    left: 0px;
    z-index: 9999;
    right: 10px;
    box-shadow: inset 0px 0px 0px  black;
    position:relative;
    width: 100%;
    height: 309px;
    box-sizing: border-box;
    border: 1px solid rgba(34,211,35,1);
}

.divemail{
    position: absolute;
    width: 400px;
    height: 10px;
    margin: 0 auto;
    top:100px;
    left:-40px;}

#caixadeemail {
    background-color: rgb(240,20,89); 
    border: 3px solid rgb(223,100,124);  
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    outline: none;
    

}
    
/*========================FIM================*/
}


/*========================== RESPONSIVE(400PX-767PX)===============================*/

@media screen and (min-width: 400px) and (max-width: 767px){
    
/*-------------- MENU ------------*/


#navMenu ul
{float: left;
 left: 8%;
 top: -10px;
 height: 60px;
 position: absolute;
 list-style: none;}

#navMenu ul li
{display: inline;
 letter-spacing:5px;
 position: relative;}

#navMenu ul li a
{padding: -1px;
 height: 35%;
 left: 0%;
 letter-spacing:0px;
 position: relative;
 display: inline-block;
 top: 1px;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 140%;
 font-family: fantasy;
 text-decoration: none;}

#navMenu ul li a:hover
{padding: -1px;
 height: 35%;
 left: 0%;
 letter-spacing:0px;
 position: relative;
 display: inline-block;
 top: 1px;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 140%;
 font-family: fantasy;
 text-decoration: none;}


/*===========================================================================================================================================*/
/*=======================================================CONTATO======================================================================*/
/*==========================================================P3===============================================================================*/


/*-----------PORTIFOLIO-------*/
div.CONTATO
{background: rgba(240,248,255,1);
 margin-top:62px;
 z-index: 1;
 box-shadow: inset 0px 0px 6px black;
 position: relative;
 width: 132%;
 height: 580px;
 box-sizing: border-box;
 border-bottom: 3px solid rgba(34,211,35,1);
 border-top: 2px solid rgba(34,211,35,1);}

.divalignCONTATO{
    position: relative;
    margin: 0 auto;
    left: 40px;
    background-color: ;
    bottom: 250px;
    width: 55%;
    height: 25%;
}

.textoCONTATO
{   
    
    font-size: 40px;    
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: none;
    position:relative; 
    -webkit-margin-after: 0em;
    top:330px;
    left:50px;
    white-space: nowrap;
    transform:translate(-50%,-50%); 
    float: left;
    letter-spacing: 0px;
    text-align: center;
    display:inline;
    font-family:"ARCARTER";
    line-height: 1px;
    height: 10px;
    
}

.tituloCONTATO
{   
    
    font-size: 55px;
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-family:cursive, sans-serif, serif;
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: underline;
    position:absolute; 
    margin: 0 auto;
    top: 280px;
    left:80px;
    transform:translate(-50%,-50%); 
    float: left;
    widows: inherit;
    text-align: center;
    white-space: nowrap;
    z-index: 9999;
    display:table-cell;
    vertical-align:0px;
    word-wrap: break-word;
    font-family:"ARCARTER";
    
}

.fotologo
{   
    background: aqua;
    background-image: url('../../FOTOS/logo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 40%;
    height: 160px;
    margin-left: 130px;
    margin-top: 30px;
    border-radius: 10px;
    position:relative;  
    z-index: 1;
    
}

.imagewhat{
    width: 25px;
    height: 25px;
    top: 2px;
    position: relative;
}
    
.liimage{
    display:block; 
    position: relative; 
    right:10px; 
    top: 10px;}




/*============================RODA PÉ====================*/

div.divrodape{
    background-color: white;
    background-size: 100% 110%;
    background-repeat: no-repeat;   
    margin-top:224px;
    z-index: 9999;
    right: 10px;
    box-shadow: inset 0px 0px 0px  black;
    position:absolute;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    
}

.divemail{
    position: absolute;
    width: 400px;
    height: 10px;
    margin: 0 auto;
    top:20px;
    left:20px;}
    
/*========================FIM================*/
}


/*========================== RESPONSIVE(768PX-1124PX)===============================*/

@media screen and (min-width: 768px) and (max-width: 1124px){

/*-------------- MENU ------------*/


#navMenu ul
{float: left;
 left: 20%;
 top: -10px;
 position: absolute;
 list-style: none;}

#navMenu ul li
{display: inline;
 letter-spacing:5px;
 position: relative;}

#navMenu ul li a
{padding: 15px;
 height: 35%;
 bottom:7px;
 letter-spacing:2px;
 position: relative;
 display: inline-block;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 150%;
 font-family: fantasy;
 text-decoration: none;}

#navMenu ul li a:hover
{padding: 15px;
 height: 35%;
 bottom:7px;
 letter-spacing:2px;
 position: relative;
 display: inline-block;
 /*VISUAL DO LINK*/
 color: #333;
 font-size: 150%;
 font-family: fantasy;
 text-decoration: none;}


/*===========================================================================================================================================*/
/*=======================================================CONTATO======================================================================*/
/*==========================================================P3===============================================================================*/


/*-----------PORTIFOLIO-------*/
div.CONTATO
{background: rgba(240,248,255,1);
 margin-top:62px;
 z-index: 1;
 box-shadow: inset 0px 0px 6px black;
 position: relative;
 width: 132%;
 height: 580px;
 box-sizing: border-box;
 border-bottom: 3px solid rgba(34,211,35,1);
 border-top: 2px solid rgba(34,211,35,1);}

.divalignCONTATO{
    position: relative;
    margin: 0 auto;
    left: 40px;
    background-color: ;
    bottom: 250px;
    width: 55%;
    height: 25%;
}

.textoCONTATO
{   
    
    font-size: 50px;
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: none;
    position:relative; 
    -webkit-margin-after: 0em;
    top:50px;
    left:250px;
    transform:translate(-50%,-50%); 
    float: left;
    text-align: center;
    display:inline;
    font-family:"ARCARTER";
    line-height: 1px;
    height: 10px;
    
}

.tituloCONTATO
{   
    
    font-size: 90px;
    text-shadow: 2px 2px 5px  rgba(0,0,0,1);
    font-family:cursive, sans-serif, serif;
    font-style: oblique;
    font-variant-caps: small-caps; 
    text-decoration: underline;
    position:absolute; 
    margin: 0 auto;
    top: 10px;
    left:280px;
    transform:translate(-50%,-50%); 
    float: left;
    widows: inherit;
    text-align: center;
    white-space: nowrap;
    z-index: 9999;
    display:table-cell;
    vertical-align:0px;
    word-wrap: break-word;
    font-family:"ARCARTER";
    
}

.fotologo
{   
    background: aqua;
    background-image: url('../../FOTOS/logo.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 200px;
    margin-left: 30px;
    margin-top: 90px;
    border-radius: 10px;
    position:relative;  
    z-index: 1;
    
}

.imagewhat{
    width: 40px;
    height: 40px;
    top: 10px;
    position: relative;
}
    
.liimage{
    display:block; 
    position: relative; 
    right:120px; 
    top: 10px;}




/*============================RODA PÉ====================*/

div.divrodape{
    background-color: white;
    background-size: 100% 110%;
    background-repeat: no-repeat;   
    margin-top:124px;
    z-index: 9999;
    right: 10px;
    box-shadow: inset 0px 0px 0px  black;
    position:absolute;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    
}

.divemail{
    position: absolute;
    width: 400px;
    height: 10px;
    margin: 0 auto;
    top:20px;
    left:100px;}
    
    
/*========================FIM================*/
}




